/* CSS Document */
/* css fonts*/   
@font-face{font-family:"Righteous-Regular";src:url(../fonts/BigShouldersText-Bold.ttf)}
@font-face{font-family:"title";src:url(../fonts/VarelaRound-Regular.ttf)}
@font-face{font-family:"wales";src:url(../fonts/SupermercadoOne-Regular.ttf)}
@font-face{font-family:"dis";src:url(../fonts/Poppins-SemiBold.ttf)}
 @media only screen and (max-width: 320px) {
	 .navbar-brand{font-size: small}
}

.navbar-toggle {
    padding: 5px 3px;margin-top: 10px;
}
.btn-primary.focus, .btn-primary:focus,.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover{color:#000;background-color: white}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{font-family: 'title';}
.form-control:focus{border-color: white}
.navbar-default .navbar-nav > li > a{font-family: 'dis';}
.btn-primary{
    color: 
black;
background-color:
    white;
    border-color: #041422;
}
.btn-primary:hover {background-color: greenyellow;color: black}
body {
  background: #000;
}
.logo_form {
    text-align: center;
    font-size: 60px;
    color: 
    000;
}
.form-box {
  max-width: 500px;
  margin: auto;
	padding: 30px;
  /*border: 5px solid #f2f2f2;*/
}

h1, p {
	font-family: 'dis';
  text-align: center;
	color: white;
}
label{color: white;font-family: 'title'}
input, textarea {
  width: 100%;
	font-family: 'dis'
}
