@font-face{font-family:"Righteous-Regular";src:url(../fonts/BigShouldersText-Bold.ttf)}
@font-face{font-family:"title";src:url(../fonts/VarelaRound-Regular.ttf)}
@font-face{font-family:"wales";src:url(../fonts/SupermercadoOne-Regular.ttf)}
@font-face{font-family:"dis";src:url(../fonts/Poppins-SemiBold.ttf)}




.f1{max-width: 600px;margin-top: 10%;border: 2px solid
white;
padding: 20px;
border-radius: 10px;

}
body{background-color: #1e2833;font-family: 'dis'}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{margin-left:100px}
.navbar-brand{font-family: 'title'}
.navbar{border-radius: 0px}
body{background-color:#1e2833;color:white;}

/*form*/

.logo_form{text-align:center;
	padding:15px 0 20px;font-size:100px;color:#2980ef;
}
#login_pic{max-width: 150px;
border:medium solid #FF00C7;}
.form-control{
	border-bottom:1px solid #434a52;
	
	color: rgb(255,0,199);}

.btn-primary{border:none !important; }
.form-control:focus{
	border: 2px solid #FF00C7;
	box-shadow: none!important;
}
#log-btn:hover {
	background:linear-gradient(135deg, #aa22a6 0%,#aa22a6 50%,#ec008c 50%,#ec008c 100%);
	background-size: 300% 300%;
	animation: gradientBG 2s ease infinite;
}
.form-control:hover{box-shadow: none!important;}
@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}